<!DOCTYPE html>
<html ng-app="ElevatorMusic">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="js/main.js"></script>
  <meta charset="UTF-8">
  <title>Elevator Music</title>
</head>
<div ng-controller="MyController">
  <input type="text" ng-model="person.name" placeholder="Enter your name" />
  <h5>{{ clock }}</h5>
  <h5>{{ person.name }}</h5>
</div>

<div ng-controller="PlayerController">
  <button ng-click="play()" class="button" ng-show="!playing">Play</button>
  <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
  Playing audio: <b>{{ playing }}</b>
</div>

<div ng-controller="DemoController">
  <h4>The simplest adding machine ever!</h4>
  <button ng-click="add(1)" class="button">Add</button>
  <button ng-click="subtract(1)" class="button">Subtract</button>
  <h4>Current count: {{ counter }}</h4>
</div>



<body>

</body>
</html>